<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techkwondo.linuxhelper.FinalBuild">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".userActivity"/>
        <activity android:name=".diskUsageActivity" />
        <activity android:name=".hardwareActivity" />
        <activity android:name=".processRelatedActivity" />
        <activity android:name=".systemCommandsActivity" />
        <activity android:name=".filePermissionsActivity" />
        <activity android:name=".searchActivity" />
        <activity android:name=".directoryActivity" />
        <activity android:name=".networkActivity" />
        <activity android:name=".packageManagementActivity" />
        <activity android:name=".fileTransferActivity" />
        <activity android:name=".secureShellActivity" />
        <activity android:name=".fileCommandsActivity" />
        <activity android:name=".fileCompressionActivity" />
        <activity android:name=".commandCategories" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>